bin/
obj/
.vs/
artifacts/
**/.notes/
installer/publish/
installer/publish-macos/
installer/publish-windows/
installer/Output/
*.user
*.suo
**/.DS_Store
SampleNotes
.vscode
installer/publish-macos/osx-arm64
installer/publish-windows/win-x64
